.formBox{
    margin: 40px;
    margin-top: 50px;
}

.accountExits{
    color: #9F9F9F;
    opacity: 0.7;
    font-size: 15px;
    font-style: thin;
}

.textColor{
    color: #6548F8;
    opacity: 1;
}

.welcomeText{
    font-size: 30px;
    font-weight: bold;
    position: relative;
    right: 1px;
    
}

.smallTextUnderWelcomeText{
    
    font-size: 12px;
    font-weight: bold;
    color: #9F9F9F;
    opacity: 0.5;
    position: relative;
    top: -20px;
}

.smallTextAbove1{
    color: #6548F8;
    font-size: 12px;
    position: absolute;
    top: 276px;
    left: 190px;
    background-color: white;
    font-weight: 200;
    padding-left: 3px;
    padding-right: 3px;
    

}

.smallTextAbove2{
    color: #6548F8;
    font-size: 12px;
    position: absolute;
    top: 349px;
    left: 190px;
    background-color: white;
    font-weight: 200;
    padding-left: 3px;
    padding-right: 3px;

}

.smallTextAbove3{
    color: #6548F8;
    font-size: 12px;
    position: absolute;
    top: 423px;
    left: 190px;
    background-color: white;
    font-weight: 200;
    padding-left: 3px;
    padding-right: 3px;

}

.fullNameForm{
    height: 45px;
    width: 300px;
    border: 3px solid #6548F8;
    border-radius: 5px;
    outline: none;
    margin-bottom: 20px;
   
    
}

input[type="text"] {
   
    padding-left: 14px;
}

input[type="password"] {
   
    padding-left: 14px;
}





::placeholder{
    
    font-weight: bold;
    
}

.formInput{
   padding-top: 50px;
}

.submitButton{
    height: 55px;
    width: 322px;
    border: 3px solid #6548F8 ;
    border-radius: 5px;
    
    background: #6548F8;
    color: white;
    font-weight: bold;
    
}

